# This is git ignore floders or files list
# 20140128 Edit by WuJian

# android sdk floder
android-sdk-windows/

# myself
#.gitignore

# all zip files
*.zip

# VC untrace project
\!ADBForm/
MoreADB/

# VC binary files
*.aps
*.ncb
*.opt
*.rar
*.png
icon/
ADBForm/debug/
ADBForm/release/
ADBForm/ADBForm/Debug/
ADBForm/ADBForm/Release/
ADBForm_bak140228

