# This is git ignore floders or files list
# 20140128 Edit by WuJian

# android sdk floder
android-sdk-windows/

# myself
#.gitignore

# all zip files
*.zip

# VC untrace project
\!ADBForm/
MoreADB/

# VC binary files
*.aps
*.ncb
*.opt
*.rar
*.png
*.plg
*.suo
*.log
*.csv
error
icon/
ADBForm/debug/
ADBForm/release/
ADBForm/ADBForm/Debug/
ADBForm/ADBForm/Release/
ADBForm_*/
cisco_AP/
conductive_BTWLANGPS/
DELL_PC/
ADBForm_bak140228
20140603_ADBForm/

# Exception files
!/release/ASUS/

